<nav nav class="navbar navbar-dark" style="background-color: #563d7c;">
  <a class="navbar-brand" href="/">
    <img src="/assets/ff_no_stars_logo.png" width="192" height="55" class="d-inline-block align-top" alt="Crystal Ball">
  </a>
  <ul class="navbar-nav ml-auto">
    <% if current_user %>
      <div class="navbar-nav" style="padding-right: 20px">
        <a href="/logout" class="nav-item nav-link">Logout</a>
      </div>
    <% else %>
      <div class="navbar-nav" style="padding-right: 20px">
        <a href="/auth/google" class="nav-item nav-link">Sign in with Google</a>
      </div>
    <% end %>
  </ul>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav text-right">
      <li class="nav-item">
        <a class="nav-link" href="/user/teams">My Teams</a>
      </li>
      <% if current_user && current_user.teams %>
        <% current_user.teams.each do |team| %>
          <li class="nav-item">
            <a class="nav-link" href="/user/teams/<%= team.id  %>"> &#8227; <%= team.name %> </a>
          </li>
        <% end %>
      <% end %>
      <li class="nav-item">
        <a class="nav-link" href="/leaguestats">League Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/players">Player Search</a>
      </li>
      <% if current_user %>
        <li class="nav-item">
          <a class="nav-link" href="/profile">My Profile</a>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
