<nav nav class="navbar navbar-dark" style="background-color: black;">
  <a class="navbar-brand" href="#" style="font-family:luminari;font-size:32px";>
    <img src="/assets/crystal_ball_3.jpg" width="60" height="47" class="d-inline-block align-top" alt="Crystal Ball">
    Fantasy FortuneTeller
  </a>
  <section class="user-login">
    <% if current_user %>
      <h3 class="welcome-message">Welcome, <%= "#{current_user.first_name} #{current_user.last_name}" %></h3>
      <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Sign in with Google", "/auth/google" %>
    <% end %>
  </section>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
