<div class="search-player">
  <section>
    <%= form_tag(players_path, method: :get) do %>
      <%= text_field_tag(:search, params[:search]) %>
      <%= submit_tag "Search", class: 'submit-player-search' %>
    <% end %>
  </section>
</div>
