


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">My Teams</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @teams.each_with_index do |team, index| %>
        <th scope="row"><%= index + 1 %></th>
        <td><%= link_to team.name, user_team_path(team) %></td>
        <td><a href="/user/teams/<% team.id %>/edit" class="btn btn-outline-primary" role="button">Change Name</a></td>
        <td><a href="/user/teams/<% team.id %>/delete" class="btn btn-outline-primary" role="button">Delete Team</a></td>
      <% end %>
    </tr>
    <tr>
  </tbody>
</table>

<%= link_to "New Team", new_user_team_path %>
