<section class='welcome-message-container'>
  <h1 class="welcome-message">Welcome to Fantasy FortuneTeller</h1>
  <div class="welcome-logo-container">
    <%= image_tag 'ff_no_stars_logo.png', alt: 'Big Crystal Ball', class: 'welcome-logo'%>
  </div>
  <h3 class="welcome-motto">Win your fantasy league the smart way!</h3>
</section>
