<div class="search-player">
  <section>
    <%= form_tag(player_path) do %>
      <%= text_field_tag :player_name, nil, placeholder: "Player Name" %>
      <%= submit_tag "Search" %>
    <% end %>
  </section>
</div>
