/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --btn-color: #fb8884;
  --dark-orange: #FE938C;
  --dark-pink: #C179B9;
  --darker-blue: #110e58;
  --green-flash: #57A773;
  --link-color: #1C77C3;
  --link-hover: #39A9DB;
  --page-header-blue: #6CD4FF;
  --purple-header: #563d7c;
  --raspberry: #B33F62;
  --red-flash: #EE6352;
  --red-orange: #F9564F;
  --topaz: #F3C677;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fdf5e8;
  color: var(--darker-blue);
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

section[id^='team-section-'] {
  display: flex;
  justify-content: space-between;
  padding: 4% 10%;
}

section[id^='team-section-']:nth-child(even) {
  background-color: #e6f7ff;
}
section[id^='team-section-']:nth-child(odd) {
  background-color: #ffe8e6;
}

input[type='text'] {
  border-radius: 4px;
  border: 1px solid var(--dark-orange);
  box-sizing: border-box;
  display: inline-block;
  font-size: 1.5em;
  height: 2em;
  margin: 8px 0;
  width: 40%;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

tr:nth-child(even) {
  background-color: #e6f7ff;
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
  margin-left: 20%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.big-font {
  font-size: 2.2em;
}

.btn-container {
  margin: 0 0 3% 7.5%;
}

.dropdown-team {
  background-color: white;
  width: 100%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.flash-error {
  background-color: var(--red-flash);
  color: white;
  font-size: 1.2em;
  padding: 0.5em 0;
  text-align: center;
}

.flash-success {
  background-color: var(--green-flash);
  color: white;
  font-size: 1.2em;
  padding: 0.5em 0;
  text-align: center;
}

.med-font {
  font-size: 1.7em;
}

.my-team-link {
  font-weight: bold;
  width: 50%;
}

.new-team-form {
  margin: 2% 7.5%;
}

.nav-logo {
  width: 100%;
}

.orange-btn {
  background-color: var(--btn-color);
  border: 1px solid var(--btn-color);
  box-shadow: 3px 3px 2px #808080;
  color: var(--darker-blue);
  font-size: 0.8em;
}

.pad-right {
  padding-right: 4em;
}

.page-header {
  background-color: var(--page-header-blue);
  color: white;
  margin:0;
  padding: 1.5% 7.5%;
  text-shadow: 2px 2px var(--link-color);
}

.player-image {
  height: 90px;
  max-width: 90px;
}

.players-table {
  font-size: 1.7em;
  table-layout: fixed;
  width: 96%;
  margin: 2%;
  text-align: center;
}

.players-table td {
  height: 4em;
}

.players-table th {
  padding: 0.5em 0;
}

.players-table-row {
  height: 7%;
}

.profile-header {
  background-color: var(--red-orange);
  color: white;
  margin: 0;
  padding: 1.5% 7.5%;
  text-shadow: 2px 2px #940a05;
}

.reg-btn:link, .reg-btn:visited,
input[type='submit'] {
  background-color: var(--btn-color);
  border-radius: 5px;
  border: 1px solid var(--btn-color);
  box-shadow: 3px 3px 2px #808080;
  color: var(--darker-blue);
  display: inline-block;
  font-size: 1.25em;
  padding: 0.5em 1em;
}

.reg-btn:hover,
input[type='submit']:hover,
.orange-btn:hover {
  background-color: #fa5752;
  border: 1px solid var(--dark-orange);
  box-shadow: 0 0 6px var(--dark-orange);
  color: var(--dark-blue);
  text-decoration: none;
}

.reg-link {
  color: var(--link-color);
}

.reg-link:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

.quick-add-player {
   margin: 2% 25%;
}

.search-player {
  margin: 2% 25%;
  width: 100%;
}

.size-2 {
  font-size: 2em;
}

.size-1 {
  font-size: 1.5em;
}

.table-proj {
  font-size: 1.2em;
  font-weight: bold;
}
.thead-players {
  background-color: var(--page-header-blue);
  padding: 0.5em 0;
}

.user-info {
  font-size: 1.5em;
  padding: 2% 7.5%;
}

#back-to-teams {
  margin: 2% 7.5%;
}

#myPlayerInput {
  width: 100%;
}

#nav-logo-link {
  width: 25%;
}

#new-team-btn {
  font-size: 1.5em;
  margin: 2% 10%;
}

#new-player-btn {
  width: 8em;
  height: 2.4em;
}

#remove-player-btn {
  font-size: 0.8em;
}
