/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* .colors {

 } */

:root {
  --purple-header: #563d7c;
  --red-flash: #EE6352;
  --green-flash: #57A773;
  --dark-blue-link: #1B2A41;
  --dark-blue-link-2: #091540;
  --black-blue: #0C1821;
  --bright-blue: #1B2CC1;
  --perriwinkle: #7692FF;
  --light-blue: #ABD2FA;
}

body {
  font-family: 'Verdana';
}

div[id^='team-section-'] {
  display: flex;
  justify-content: space-between;
  padding: 2% 10%;
}

div[id^='team-section-']:nth-child(odd) {
  background-color: #f2f2f2;
}
div[id^='team-section-']:nth-child(even) {
  background-color: #f1eef7;
}

.big-font {
  font-size: 2em;
}

.my-team-link {
  width: 40%;
}

.nav-logo {
  width: 100%;
}

.pad-right {
  padding-right: 4em;
}

.page-header {
  padding: 2% 5%;
  color: var(--dark-blue-link-2);
}

.reg-link {
  color: var(--bright-blue);
}

.size-2 {
  font-size: 2em;
}

.size-1 {
  font-size: 1.5em;
}

#nav-logo-link {
  width: 25%;
}
