/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* .colors {

 } */

:root {
  --purple-header: #563d7c;
  --dark-pink: #C179B9;
  --page-header: #6CD4FF;
  --red-flash: #EE6352;
  --green-flash: #57A773;
  --link-color: #1C77C3;
  --link-hover: #39A9DB;
  --btn-color: #feb8b3;
  --btn-border: #FE938C;
}

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

section[id^='team-section-'] {
  display: flex;
  justify-content: space-between;
  padding: 4% 10%;
  margin-bottom: 8px;
}

section[id^='team-section-']:nth-child(odd) {
  background-color: #e6f7ff ;
}
section[id^='team-section-']:nth-child(even) {
  background-color: #ffe8e6;
}

input[type='text'] {
  width: 40%;
  height: 2em;
  font-size: 1.5em;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--btn-border);
  border-radius: 4px;
  box-sizing: border-box;
}

.big-font {
  font-size: 2.2em;
}

.med-font {
  font-size: 1.7em;
}

.my-team-link {
  width: 50%;
}

.new-team-form {
  margin: 2% 7.5%;
}

.nav-logo {
  width: 100%;
}

.pad-right {
  padding-right: 4em;
}

.page-header {
  background-color: var(--page-header);
  color: white;
  text-shadow: 2px 2px var(--link-color);
  padding: 1.5% 7.5%;
}

.reg-btn:link, .reg-btn:visited,
input[type='submit'] {
  background-color: var(--btn-color);
  border-radius: 5px;
  border: 1px solid var(--btn-color);
  box-shadow: 3px 3px 2px #808080;
  color: #001a33;
  display: inline-block;
  font-size: 1.25em;
  padding: 0.5em 1em;
}

.reg-btn:hover,
input[type='submit']:hover {
  border: 1px solid var(--btn-border);
  box-shadow: 0 0 6px var(--btn-border);
  text-decoration: none;
}

.reg-link {
  color: var(--link-color);
}

.reg-link:hover {
  color: var(--link-hover);
  text-decoration: none;
}

.size-2 {
  font-size: 2em;
}

.size-1 {
  font-size: 1.5em;
}

#back-to-teams {
  margin: 2% 7.5%;
}

#nav-logo-link {
  width: 25%;
}

#new-team-btn {
  font-size: 1.5em;
  margin: 2% 10%;
}
